.loginbody{
    margin: 0;
    padding: 0;
    background-image: url(fondo.gif);
    background-size: cover;
    background-position: all;
    background-repeat: no-repeat;
    font-family: sans-serif;    
}

.loginbox{
    width: 400px;
    height: 510px;
    background-color: rgba(51, 74, 92, 0.5);
    color:#fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 12px;
    padding: 90px 30px;
    border: white 2.5px solid;
}

.avatar{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    top: -40px;
    left: calc(50% - 72px);
}

.loginbox h1{
    padding: 20px 20px 20px;
    text-align: center;
    font-size: 30px;
}

.loginbox a{
    color: #fff;
    font-size: 16px;
    text-decoration: underline;
}

.loginbox .botones{
    width: 100%;
    padding: 1px;
    font-size: 16px;
    margin-bottom: 20px;
}

.loginbox .controles{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 12px;
    border: 1px solid #fff;
    font-size: 16px;
    color: #fff;
}

.registerbody{
    margin: 0;
    padding: 0;
    background-image: url(fondo.gif);
    background-size: cover;
    background-position: all;
    background-repeat: no-repeat;
    font-family: sans-serif;    
}

.registerbox{
    width: 400px;
    background-color: rgba(51, 74, 92, 0.5);
    color:#fff;
    top: 50%;
    left: 50%;    
    position: absolute;    
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 35px;    
    border-radius: 12px;    
    border: #fff 2.5px solid;
}

.registerbox h1{
    padding: 20px 20px 20px;    
    margin-bottom: 20px;
    text-align: center;
    font-size: 26px;
}

.registerbox .controles{
    width: 95%;
    background: #24303c;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 12px;
    border: 1px solid #fff;
    color: #fff;
}

.registerbox .ter_cond {
height: 40px;
font-size: 16px;
}

.registerbox  a {
    color: white;
    text-decoration: underline;
}

.registerbox .botones{
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    background: #fff;
}

.mainbox{
    width: all;
    height: all;
    background-color: white;
    top: 10%;
    left: 10%;
}

.botones{
    width:100px;
    height:45px;
    background: linear-gradient(to left top, #b9d8f7  50%, #b9d8f7 50%);
    border-style: none;
    color:#000000;
    font-size: 23px;
    letter-spacing: 3px;
    font-family: sans-serif;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    position: relative;
    padding: 0px;
    overflow: hidden;
    transition: all .5s;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    border-radius: 20px;
}
.botones span{
    position: absolute;
    display: block;
}
.botones span:nth-child(1){
    height: 3px;
    width:100px;
    top:0px;
    left:-200px;
    background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span1 2s linear infinite;
    animation-delay: 1s;
}

@keyframes span1{
    0%{
        left:-100px
    }
    100%{
        left:100px;
    }
}
.botones span:nth-child(2){
    height: 70px;
    width: 3px;
    top:-70px;
    right:0px;
    background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    animation: span2 2s linear infinite;
    animation-delay: 2s;
}
@keyframes span2{
    0%{
        top:-70px;
    }
    100%{
        top:70px;
    }
}
.botones :nth-child(3){
    height:3px;
    width:100px;
    right:-200px;
    bottom: 0px;
    background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    animation: span3 2s linear infinite;
    animation-delay: 3s;
}
@keyframes span3{
    0%{
        right:-200px;
    }
    100%{
        right: 200px;
    }
}

.botones span:nth-child(4){
    height:70px;
    width:3px;
    bottom:-70px;
    left:0px;
    background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
    animation: span4 2s linear infinite;
    animation-delay: 4s;
}
@keyframes span4{
    0%{
        bottom: -70px;
    }
    100%{
        bottom:70px;
    }
}

.botones:hover{
    transition: all .5s;
    transform: rotate(-3deg) scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
.botones:hover span{
    animation-play-state: paused;
}


